/* An dieser stelle, werden die Fonts eingebunden und definiert */

/* Einbinden der Font Libre_Barcode */

@font-face { font-family: 'Libre_Barcode';
             src: url('../font/Libre_Barcode_128_Text/LibreBarcode128Text-Regular.ttf') format('truetype');
 }

/* Einbinden der Font Staatliches */

@font-face { font-family: 'Staatliches';
             src: url('../font/Staatliches/Staatliches-Regular.ttf') format('truetype');
}

/* Einbinden der Font Merriweather */

@font-face { font-family: 'Merriweather';
             src: url('../font/Merriweather/Merriweather-Regular.ttf') format('truetype');
}

@font-face { font-family: 'Merriweather';
             src: url('../font/Merriweather/Merriweather-Bold.ttf') format('truetype');
             font-style: Bold;
}

@font-face { font-family: 'Merriweather';
             src: url('../font/Merriweather/Merriweather-Italic.ttf') format('truetype');
             font-style: italic;
}


/* Einbinden der Font Raleway */

@font-face { font-family: 'Raleway';
             src: url('../font/Raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face { font-family: 'Raleway';
             src: url('../font/Raleway/Raleway-Bold.ttf') format('truetype');
             font-style: Bold;
}

@font-face { font-family: 'Raleway';
             src: url('../font/Raleway/Raleway-Italic.ttf') format('truetype');
             font-style: Italic;
}


@font-face { font-family: 'Raleway';
             src: url('../font/Raleway/Raleway-Medium.ttf') format('truetype');
             font-style: Medium;
}

@font-face { font-family: 'Raleway';
             src: url('../font/Raleway/Raleway-Thin.ttf') format('truetype');
             font-style: Thin;
}


/* Einbinden der Font Ubuntu */

@font-face { font-family: 'Ubuntu';
             src: url('../font/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face { font-family: 'Ubuntu';
             src: url('../font/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
             font-style: Bold;
}


@font-face { font-family: 'Ubuntu';
             src: url('../font/Ubuntu/Ubuntu-Italic.ttf') format('truetype');
             font-style: italic;
}


@font-face { font-family: 'Ubuntu';
             src: url('../font/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
             font-style: Medium;
}
