/*******************Tablet**********************/
@media (max-width: 70rem) {

  /* Head */

  h1, h2, h3{
      font-family: var(--main-uschrift-font);
      font-style: regular;
      font-weight: regular;
      width: 100%;
      padding:3%;
    }
    h1{
      font-size: 2rem;
      margin: auto;

    }
    h2{
      font-size: 1rem;
      margin: auto;

    }
    h3{
      font-size:0.5em;

    }

    /* width */
    ::-webkit-scrollbar {
      width: 1rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--main-color);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--seccond-color);
    }

    p{
      margin:0;
      padding:3% ;
      width: 100%;
      font-family: var(--main-font);
      font-style: regular;
      font-weight: regular;
      color: var(--main-font-color);
      font-size: 1.2em;
    }

  .navbar {
      position:fixed !important;
      width: 100%;
      background-color: var(--menue-background-color);
      border-bottom-style: solid;
      border-color: white;
      border-width: 0.5em;

  }

  .logo {
      margin-right: 1rem;
      width: 2rem;
      background-color: white;
      border-radius: 100%;
      padding: 0.1rem;
  }

  a {
      color: var(--main-link-color);
  }

  a:hover {
      color: var(--main-font-color-hover);
  }

  /* Body */

  .divider {
    border-left-style: solid;
    border-color: var(--main-font-color);
    position: fixed;
  }

  .navbar-item:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    text-rendering: geometricPrecision;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }


  .content {
      margin-left: 2em;
      margin-right: 2em;
      min-height:  42rem;
      padding-top: 8rem;
      padding-left: 1.5rem;
      padding-bottom: 3rem;
      background-color: var(--background-color-content);
  }

  .title {

  }

  /* Footer */

  .footer {
      background-color: var(--main-color);
      position: fixed;
      text-align: center;
      height: 2.5rem;
      font-size: 1.3rem;
      padding: -0px;
      bottom: 0;
      left: 0;
      right: 0;
      border-top-style: solid;
      border-color: white;
      border-width: 0.2em;
  }

  /********************Formular********************/
  .formular div{
    text-align: left;
    width: 100%;
  }
  .formular{
    width: 100%; /* Breite des Formulars */
    padding: 1.25rem;
    color: var(--main-font-color);
    padding-left: 1rem;
    padding-right: 1rem;

  }
  .main .formular div input{
    box-shadow: inset 5px 1px 11px grey;
    width: 80%;
    height: 5rem;
    font-size: 2.5rem;
  }
  .formular .label { /* Beschriftung auf eigener Zeile */
    display: block;
    color: var(--main-font-color);

    cursor:pointer; /* Mauszeiger wird zur Hand */
    font-family: var(--main-font);
    font-size: 4.5rem;
    text-rendering: geometricPrecision;
  }

  .form-check {
    position: static;
  }

  input#nachricht,
  textarea{
    box-shadow: inset 5px 1px 11px grey;
    width: 80%;
    height: 7rem;
  }
  textarea {
    height: 10rem;
  }
  input:focus,
  textarea:focus {
    background-color: #d9d9d9;
  }

  /********************Galerie********************/

  .product_galerie_output {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
    margin-right: 1em;
  }

  .product_galerie {
    margin: 1em;
    width: 15em;
    height: 27em;
    padding-bottom: 10em;
    border-radius: 2em;
    border-style:solid;
    border-color: white;
    border-width: 0.1em;
    overflow: hidden;
    background-color: var(--main-color);
    box-shadow: 0.2em 0.2em 0.5em black;
    color: var(--main-font-color) !important;
    font-family: "Raleway";
    font-weight: bold;
  }

  .product_galerie a figcaption {
    text-align: center;
    padding-top: 1em;
    border-top-style: solid;
    border-color: white;
  }

  .product_galerie a {
    color: white;
  }

  .img_galerie {
    width: 100%;
    height: auto;
    max-height: 20em;
    height: 20em;
  }

}

/*******************Desktop**********************/
@media (min-width: 70rem) {
  /* Head */

  h1, h2, h3{
      font-family: var(--main-uschrift-font);
      width: 100%;
      padding: 3rem;
    }
    h1{
      font-size: 3rem;
      margin: auto;

    }
    h2{
      font-size: 2rem;
      margin: auto;

    }
    h3{
      font-size:1em;

    }

    /* width */
    ::-webkit-scrollbar {
      width: 1rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--main-color);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--seccond-color);
    }

    p{
      margin:0;
      padding:3rem ;
      width: 100%;

      font-family: var(--main-font);
      color: var(--main-font-color);
      font-size: 1.3em;
    }

  .navbar {
      position:fixed !important;
      width: 100%;
      background-color: var(--menue-background-color);
      border-bottom-style: solid;
      border-color: white;
      border-width: 0.5em;

  }

  .logo {
      margin-right: 1rem;
      width: 3rem;
      background-color: white;
      border-radius: 100%;
      padding: 0.1rem;
  }

  a {
      color: var(--main-link-color);
  }

  a:hover {
      color: var(--main-font-color-hover);
  }

  /* Body */

  .divider {
    border-left-style: solid;
    border-color: var(--main-font-color);
    position: fixed;
  }

  .navbar-item:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    text-rendering: geometricPrecision;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }


  .content {
      margin-left: 5em;
      margin-right: 5em;
      min-height:  42rem;
      padding-top: 8rem;
      padding-bottom: 3rem;
      background-color: var(--background-color-content);
      box-shadow: 0.5em 0.5em 1em ;
  }

  .title {
  }

  /* Footer */

  .footer {
      background-color: var(--main-color);
      position: fixed;
      text-align: center;
      height: 2.5rem;
      font-size: 1.3rem;
      padding: -0px;
      bottom: 0;
      left: 0;
      right: 0;
      border-top-style: solid;
      border-color: white;
      border-width: 0.2em;
  }

  /********************Formular********************/
  .formular div{
    text-align: left;
    width: 100%;
  }
  .formular{
    width: 100%; /* Breite des Formulars */
    padding: 1.25rem;
    color: var(--main-font-color);
    padding-left: 1rem;
    padding-right: 1rem;

  }
  .main .formular div input{
    box-shadow: inset 5px 1px 11px grey;
    width: 80%;
    height: 5rem;
    font-size: 2.5rem;
  }
  .formular .label { /* Beschriftung auf eigener Zeile */
    display: block;
    color: var(--main-font-color);

    cursor:pointer; /* Mauszeiger wird zur Hand */
    font-family: var(--main-font);
    font-size: 4.5rem;
    text-rendering: geometricPrecision;
  }

  .form-check, .form-check-input {
    position: static;
  }


  input#nachricht,
  textarea{
    box-shadow: inset 5px 1px 11px grey;
    width: 80%;
    height: 7rem;
  }
  textarea {
    height: 10rem;
  }
  input:focus,
  textarea:focus {
    background-color: #d9d9d9;
  }


  /********************Galerie********************/

  .product_galerie_output {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
    margin-right: 1em;
  }

  .product_galerie {
    margin: 1em;
    width: 15em;
    height: 27em;
    padding-bottom: 10em;
    border-radius: 2em;
    border-style:solid;
    border-color: white;
    border-width: 0.1em;
    overflow: hidden;
    background-color: var(--main-color);
    box-shadow: 0.2em 0.2em 0.5em black;
    color: var(--main-font-color) !important;
    font-family: "Raleway";
    font-weight: bold;
  }

  .product_galerie a figcaption {
    text-align: center;
    padding-top: 1em;
    border-top-style: solid;
    border-color: white;
  }

  .product_galerie a {
    color: white;
  }

  .img_galerie {
    width: 100%;
    height: auto;
    max-height: 20em;
    height: 20em;
  }



}

/************************MOBILE*******************/



@media (max-device-width: 70rem) {

  h1, h2, h3{
      font-family: var(--main-uschrift-font);
      width: 100%;
    }
    h1{
      font-size: 4rem;
      margin: auto;

    }
    h2{
      font-size: 4rem;
      margin: auto;

    }
    h3{
      font-size:3em;

    }
    /*****scrollbar*****/
    /* width */
    ::-webkit-scrollbar {
      width: 1rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: var(--main-color);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--seccond-color);
    }

    p{
      margin:0;
      padding:3% ;
      width: 100%;
      font-family: var(--main-font);
      color: var(--main-font-color);
      font-size: 3em;
    }

  .navbar-collapse {
      width: 100%;
    }

    .navbar{
      padding-bottom: 3rem;
      padding-top: 3rem;
      top: 0;
      left: 0;
      right: 0;
      position: fixed;
      background-color: var(--menue-background-color);
      border-bottom-style: solid;
      border-color: white;
      border-width: 0.5em;
    }

    .navbar-light .navbar-toggler{
      width: 7rem;
      height: 7rem;
      margin-right: 3rem;
      border-style: none;
      border-color: none;
    }

    .navbar-toggler:focus {
      border-color: var(--seccond-color);
      border-style: solid;
    }

    .navbar-toggler-icon {
      width: 7rem;
      height: 7rem;
      padding:3rem;
    }


    .navbar ul{
      display: flex;
      flex:1 1 auto;
      justify-content: center;
      border-bottom-color: var(--main-font-color);
      border-bottom-style: solid;
      padding-left:0;
      margin-top:0;
    }
    .navbar ul li{
      padding: 0;
      width: 100%;
      height:100%;
      padding: 1%;
      font-size: 5rem;
      max-font-size: 6rem;
      min-font-size: 0.5rem;
      background-color:var(--main-menue-background-color);
      color: var(--main-font-color);
      background-size: cover;
      border-color: darkgray;
      overflow: hidden;
      min-width: 50px;
      font-size: 4em;
    }

    .navbar-brand {
      font-size: 4em;
    }

    .navbar ul li a{
      display: block;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      border-width: 0;
      color: var(--main-font-color);
    }

    .search {
      width: 100%;
      display: flex;
      height: auto;
    }

    .search input {
      font-size: 3em;
      margin-left: 1em;
      margin-top: 1em;
      border-radius: 0.5rem;
      border-width: 0.2rem;
      height: 2em;
    }

    .search button {
      font-size: 3em!important;
      margin-left: 1em!important;
      margin-top: 1em!important;
      border-radius: 0.5rem;
      border-width: 0.2rem;
    }

  .logo {
      margin-right: 1rem;
      width: 5rem;
      margin-left: 2rem;
      background-color: white;
      border-radius: 100%;
      padding: 0.1rem;
  }

  a {
      color: var(--main-link-color);
  }

  a:hover {
      color: var(--main-font-color-hover);
  }

  /* Body */

  .divider {
    border-left-style: solid;
    border-color: var(--main-font-color);
    position: fixed;
  }

  .navbar-item:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    text-rendering: geometricPrecision;
  }

    .navbar-brand {
        font-size: 3rem;
    }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }


  .content {
      min-height: 70rem;
      padding-top: 17rem;
      padding-bottom: 7rem;
      background-color: var(--background-color-content);
      box-shadow: 5px 10px #888888;
  }


  /* Footer */

  .footer {
      background-color: var(--main-color);
      position: fixed;
      text-align: center;
      height: 6rem;
      font-size: 3rem;
      padding: -0px;
      bottom: 0;
      left: 0;
      right: 0;
      border-top-style: solid;
      border-color: white;
      border-width: 0.2em;
  }

  /********************Formular********************/
  .formular div{
    text-align: left;
    width: 100%;
  }

  .formular {
    font-size: 4em;
    width: 100%; /* Breite des Formulars */
    padding: 1.25rem;
    color: var(--main-font-color);
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
  }

  .formular select, .formular input {
    font-size: 1em;
  }

  .formular .button {
    font-size: 1em;
    border-radius: 0.2em;
    padding: 0.2em;
  }

  .formular .form-check-input {
    width: 1em;
    height: 1em;
    position: static;
  }

  .formular small {
    font-size: 0.5em;
  }

  .form-check-label {
    font-size: 0.7em;
  }

  .form-check {
    position: static;
  }

  input#nachricht,
  textarea{
    box-shadow: inset 5px 1px 11px grey;
    width: 80%;
    height: 7em;
  }
  textarea {
    height: 10rem;
  }
  input:focus,
  textarea:focus {
    background-color: #d9d9d9;
  }

  /********************Galerie********************/

  .product_galerie_output {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1em;
    margin-right: 1em;
  }

  .product_galerie {
    margin: 1em;
    width: 20em;
    height: 32em;
    padding-bottom: 10em;
    border-radius: 2em;
    border-style:solid;
    border-color: white;
    border-width: 0.1em;
    overflow: hidden;
    background-color: var(--main-color);
    box-shadow: 0.2em 0.2em 0.5em black;
    color: var(--main-font-color) !important;
    font-family: "Raleway";
    font-weight: bold;
  }

  .product_galerie a figcaption {
    text-align: center;
    padding-top: 0.5em;
    border-top-style: solid;
    border-color: white;
    font-size: 2em;
  }

  .product_galerie a {
    color: white;
  }

  .img_galerie {
    width: 100%;
    height: auto;
    max-height: 25em;
    height: 25em;
  }

}
