/* Hier werden die ROOT CSS Variablen definiert */
 :root {
   --main-font:'Ubuntu', 'Staatliches';
   --main-font-color:black;
   --main-font-color-hover:darkgrey;
   --main-uschrift-font:'Ubuntu', Arial;
   --main-link-color: #4b667a;
   --main-color:#3fa9f5!important;
   --menue-background-color:#3fa9f5!important;
   --seccond-color:grey;
   --background-color: #7494aa !important;
   --background-color-content: lightgrey;
   --logo-image:'../img/logo/logo.png';
 }
